.calcButton{
    width: 33%;
}

.symbolButton {
    width: 49.5%;
}

.backspace {
    height: 0.875rem !important;
}

.warning fieldset{
    border: #ffd712 solid 2px !important;
}

.error fieldset{
    border-width: 2px;
}
